*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 900px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box div{
    height: 400px;
    width: 400px;
}

.box .one{
    background-image: url("https://images.unsplash.com/photo-1597626133663-53df9633b799?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    background-size: 100%;
    background-position: center;
    transition: all 0.3s ease;
}

.box .one:hover{
    background-size: 115%;
}

.box .two{
    overflow: hidden;
}

.box .two img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.box .two img:hover{
    transform: scale(1.2);
}